extends base

block content 
    #videoContainer(data-id=video._id) 
        video(src=`/${video.fileUrl}`, controls)
    
    .video__data  
        p.video__title=video.title
        p.video__hashtags=video.hashtags
        small.video__owner Upload by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr",{weekday:'long',year:'numeric',month:'long',day:'numeric'})
        p.video__description=video.description
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video
            br
            a(href=`${video.id}/delete`) Delete Video
    if loggedIn 
        div.video__add-comments
            form.video__comments-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write your comment")
                button Add Comment 
    .video__comments 
        ul 
             each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    i.fas.fa-comment 
                    span #{comment.text}
                    span ❌